<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @country.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @country.descripcion %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
